# Chapter 6. Data Loading, Storage, and File Formats

<img src = '../Python/ParsingFunctionsInPandas.png'>

In [1]:
import pandas as pd

!type "../../GitHub/pydata-book/examples/ex1.csv"

In [2]:
df = pd.read_csv("../../GitHub/pydata-book/examples/ex1.csv")

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('../../GitHub/pydata-book/examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [5]:
pd.read_csv('../../GitHub/pydata-book/examples/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('../../GitHub/pydata-book/examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
path = '../../GitHub/pydata-book/examples/'

In [8]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv(path + 'ex2.csv', names = names,
            index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
parsed = pd.read_csv(path + 'csv_mindex.csv')
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [10]:
parsed = pd.read_csv(path + 'csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
list(open(path + 'ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [12]:
result = pd.read_csv(path + 'ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
pd.read_csv(path + 'ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [14]:
pd.read_csv(path + 'ex4.csv', skiprows = [0, 2, 3]) # omite las filas que se le diga

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
result = pd.read_csv(path + 'ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [16]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [17]:
NaN_prove = pd.read_csv(path + 'ex5.csv', na_values = [2, 'world']) # Busca valores que le digamos para buscarlos e igualarlos a NaN
NaN_prove

  something  a     b     c   d message
0       one  1   NaN   3.0   4     NaN
1       two  5   6.0   NaN   8     NaN
2     three  9  10.0  11.0  12     foo

In [18]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [19]:
pd.read_csv(path + 'ex5.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

<img src = './../Python/Some read_csv function arguments1.png'>
<img src = './../Python/Some read_csv function arguments2.png'>

## Reading Text Files in Pieces

In [20]:
# Se puede configurar la cantidad de valores se pueden mostrar, para conjunto de valores muy grandes
pd.options.display.max_rows = 10

In [21]:
result = pd.read_csv(path + 'ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [22]:
# Also you can read only a small number of rows, especify with nrows
pd.read_csv(path + 'ex6.csv', nrows = 7)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U

In [23]:
chunker = pd.read_csv(path + 'ex6.csv', chunksize = 10000) # To read a file in pieces, specify a chunksize as a number of rows
chunker

In [24]:
# El objeto TextFileReader devuelto por read_csv le permite
# iterar sobre las partes del archivo de acuerdo con el tamaño del fragmento. Por ejemplo,
# podemos iterar sobre ex6.csv, agregando los recuentos de valores en la 'clave'
# columna así:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value = 0)

C:\Users\User\AppData\Local\Temp\ipykernel_6260\3344102093.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

In [25]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

## Writing Data to Text Format

In [26]:
data = pd.read_csv(path + 'ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
data.to_csv(path + 'out.csv')

In [28]:
# Another form of delimeters are
import sys

data.to_csv(sys.stdout, sep = '|') # Print the result like the console instead of a file

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [29]:
data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [30]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [31]:
# Series also has a to_csv method
import numpy as np

index = np.arange(10, 17)
series = pd.Series(np.arange(7), index = index)
series.to_csv(path + 'series.csv')

## Working with Delimited Formats

In [32]:
import csv

f = open(path + 'ex7.csv')

In [33]:
reader = csv.reader(f)

In [34]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

## Reading Microsoft Excel Files

In [35]:
xlsx = pd.ExcelFile(path + 'ex1.xlsx')

In [39]:
xlsx

In [45]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [46]:
frame = pd.read_excel(path + 'ex1.xlsx', 'Sheet1')

In [47]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [49]:
writer = pd.ExcelWriter(path + 'ex2.xlsx')
frame.to_excel(writer, 'SheetSample')
writer.save()